body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

#navbar {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    margin: -15px;
}

.navlink {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight:bold;
    margin-left: 5%;
    margin-right: 5%;
    background-color: transparent;
    border: none;

}

a {
    color: blue;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 10px;
    line-height: 24px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#home-link {
    font-size: 32px;
    color: black;
}

#timeline {
    text-align: center;
    position: relative;
    bottom: 24px;
    width: 100%;
}

hr {
    border: 1px solid
}

.timeline-button {
    width: 60px;
    height: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border-color: black;
    color: rgb(0, 0, 0);
    font-size: 10px;
}

#content {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}
#content-image {
    width: 300px;
    height: 400px;
    margin: 0px;
    object-fit: cover;
    display:inline-block;
    padding-bottom: 20px;
}

#content-text {
    display:inline-block; 
    vertical-align: top;
    margin-left: 10px;
}
#content-paragraph {
    word-wrap: break-word;
    width: 300px;
    text-align: justify;
    font-size: 14px;
    margin: 0px;
    color: rgb(71, 71, 71);
    line-height: 20px;
}

h2 {
    text-align: left;
    margin-top: 0px;
}

#quote {
    text-transform: uppercase;
    word-wrap: normal;
    font-size: 11px;
    font-weight:bold;

}

.album {
    font-style:oblique;
}


